.banner{
    padding: 1rem;
    height: 80vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ), url('img/bgl1.jpg');
    background-size: cover;
    background-position: center;
    }
.banner-content {
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
#wisata{
    background-color: #eff3f8;
}
